In [1]:
import pandas as pd
import numpy as np
technologies= {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
    'Courses Fee' :[22000,25000,23000,24000,26000],
    'Duration':['30days','50days','30days', None,np.nan],
    'Discount':[1000,2300,1000,1200,2500]
          }
df = pd.DataFrame(technologies)
print(df)

   Courses  Courses Fee Duration  Discount
0    Spark        22000   30days      1000
1  PySpark        25000   50days      2300
2   Hadoop        23000   30days      1000
3   Python        24000     None      1200
4   Pandas        26000      NaN      2500

In [2]:
print(df.index)

RangeIndex(start=0, stop=5, step=1)

In [4]:
# Example 2: Get count of rows using len(df.axes[])
rows_count = len(df.axes[0])
rows_count

5

In [5]:
df.shape

(5, 4)

In [7]:
# Example 3:Get count of rows using df.shape[0]
rows_count = df.shape[0]
rows_count

5

In [8]:
col_count=df.shape[1]
col_count

4

In [10]:
# Example 4: Get count of rows using count()
rows_count = df.count()[0]
rows_count

5