In [18]:
# Create pandas DataFrame
import pandas as pd
import numpy as np
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python"],
    'Fee' :[22000,25000,np.nan,24000],
    'Duration':['30day',None,'55days',np.nan],
    'Discount':[1000,2220,1000,np.nan]
          }
df = pd.DataFrame(technologies)
print(df)

   Courses      Fee Duration  Discount
0    Spark  22000.0    30day    1000.0
1  PySpark  25000.0     None    2220.0
2   Hadoop      NaN   55days    1000.0
3   Python  24000.0      NaN       NaN

In [20]:
df1 = df[(df['Fee'] >= 22000) & (df['Discount'] == 2300)]
print(df1)

Empty DataFrame
Columns: [Courses, Fee, Duration, Discount]
Index: []

In [21]:
df1

Empty DataFrame
Columns: [Courses, Fee, Duration, Discount]
Index: []

In [22]:
# Drop rows with None/NaN values
df2 = df[df.Discount.notnull()]
print(df2)

   Courses      Fee Duration  Discount
0    Spark  22000.0    30day    1000.0
1  PySpark  25000.0     None    2220.0
2   Hadoop      NaN   55days    1000.0