# Quick Examples of Converting Data Types in Pandas

# Example 1: Convert all types to best possible types
df2=df.convert_dtypes()

# Example 2: Change All Columns to Same type
df = df.astype(str)

# Example 3: Change Type For One or Multiple Columns
df = df.astype({"Fee": int, "Discount": float})

# Example 4: Ignore errors
df = df.astype({"Courses": int},errors='ignore')

# Example 5: Converts object types to possible types
df = df.infer_objects()

# Example 6: Converts fee column to numeric type
df['Fee'] = pd.to_numeric(df['Fee'])

# Example 7: Convert Fee and Discount to numeric types
df[['Fee', 'Discount']] =df [['Fee', 'Discount']].apply(pd.to_numeric)

In [2]:
import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python","pandas","Oracle","Java"],
    'Fee' :[20000,25000,26000,22000,24000,21000,22000],
    'Duration ':['30day','40days','35days', '40days','60days','50days','55days'],
    'Discount':[11.8,23.7,13.4,15.7,12.5,25.4,18.4]
    }
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration   Discount
0    Spark  20000     30day      11.8
1  PySpark  25000    40days      23.7
2   Hadoop  26000    35days      13.4
3   Python  22000    40days      15.7
4   pandas  24000    60days      12.5
5   Oracle  21000    50days      25.4
6     Java  22000    55days      18.4

In [3]:
df.dtypes

Courses       object
Fee            int64
Duration      object
Discount     float64
dtype: object

In [4]:

# Convert all types to best possible types
df2=df.convert_dtypes()
print(df2.dtypes)

Courses       string
Fee            Int64
Duration      string
Discount     Float64
dtype: object

In [5]:
# Convert data type for all columns in a list
df = pd.DataFrame(technologies)
cols = ['Fee', 'Discount']
df[cols] = df[cols].astype('float')

# By using a loop
for col in ['Fee', 'Discount']:
    df[col] = df[col].astype('float')

# By using apply() & astype() together
df[['Fee', 'Discount']].apply(lambda x: x.astype('float'))

       Fee  Discount
0  20000.0      11.8
1  25000.0      23.7
2  26000.0      13.4
3  22000.0      15.7
4  24000.0      12.5
5  21000.0      25.4
6  22000.0      18.4

In [15]:
p=(lambda a,b:a*a+2*a*b+b*b) (2,3)

In [16]:
p

25

In [22]:
# Generates error
df = df.astype({"Courses": int},errors='ignore') #errors=raise dile error show korbe

In [23]:
df

   Courses      Fee Duration   Discount
0    Spark  20000.0     30day      11.8
1  PySpark  25000.0    40days      23.7
2   Hadoop  26000.0    35days      13.4
3   Python  22000.0    40days      15.7
4   pandas  24000.0    60days      12.5
5   Oracle  21000.0    50days      25.4
6     Java  22000.0    55days      18.4

In [24]:
# Convert Fee and Discount to numeric types
df = pd.DataFrame(technologies)
df[['Fee', 'Discount']] =df [['Fee', 'Discount']].apply(pd.to_numeric)
print(df.dtypes)

Courses       object
Fee            int64
Duration      object
Discount     float64
dtype: object