In [1]:

import pandas as pd
technologies = ({
    'Courses':["Spark","PySpark","Hadoop","Python","pandas","Oracle","Java"],
    'Fee' :[20000,25000,26000,22000,24000,21000,22000],
    'Duration':['30day', '40days' ,'35days', '40days', '60days', '50days', '55days']
              })
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration
0    Spark  20000    30day
1  PySpark  25000   40days
2   Hadoop  26000   35days
3   Python  22000   40days
4   pandas  24000   60days
5   Oracle  21000   50days
6     Java  22000   55days

In [2]:

# Iterate all rows using DataFrame.iterrows()
for index, row in df.iterrows():
    print (index,row["Fee"], row["Courses"])

0 20000 Spark
1 25000 PySpark
2 26000 Hadoop
3 22000 Python
4 24000 pandas
5 21000 Oracle
6 22000 Java

In [2]:

# Row contains the column name and data
row = next(df.iterrows())[1]
print("Data For First Row :")
print(row)

Data For First Row :
Courses     Spark
Fee         20000
Duration    30day
Name: 0, dtype: object

In [4]:
# Syntax DataFrame.itertuples()
df.itertuples(index=True, name='Pandas')

In [5]:
import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Python","pandas"],
    'Fee' :[20000,25000,22000,30000],
    'Duration':['30days','40days','35days','50days'],
              }
index_labels=['r1','r2','r3','r4']
df1 = pd.DataFrame(technologies,index=index_labels)
print("First DataFrame:\n", df1)
technologies2 = {
    'Courses':["Spark","Java","Python","Go"],
    'Discount':[2000,2300,1200,2000]
              }
index_labels2=['r1','r6','r3','r5']
df2 = pd.DataFrame(technologies2,index=index_labels2)
print("Second DataFRame:\n", df2)

First DataFrame:
     Courses    Fee Duration
r1    Spark  20000   30days
r2  PySpark  25000   40days
r3   Python  22000   35days
r4   pandas  30000   50days
Second DataFRame:
    Courses  Discount
r1   Spark      2000
r6    Java      2300
r3  Python      1200
r5      Go      2000

In [8]:
# Pandas join 
#df3=df1.join(df2, lsuffix="_left", rsuffix="_right")
#print("After joining two DataFrames:\n", df3)

In [10]:
# Pandas Inner join DataFrames
# df3=df1.join(df2, lsuffix="_left", rsuffix="_right", how='inner')
# print(df3)

In [12]:
# Pandas Right join DataFrames
# df3=df1.join(df2, lsuffix="_left", rsuffix="_right", how='right')
# print(df3)

In [14]:

# Pandas outer join DataFrames
# df3=df1.join(df2, lsuffix="_left", rsuffix="_right", how='outer')
# print(df3)

In [16]:
# Pandas join on columns
# df3=df1.set_index('Courses').join(df2.set_index('Courses'), how='inner')
# print(df3)

In [17]:
# Using pandas.merge()
df3= pd.merge(df1,df2)

# Using DataFrame.merge()
df3=df1.merge(df2)
print("After merging the two DataFrames:\n", df3)

After merging the two DataFrames:
   Courses    Fee Duration  Discount
0   Spark  20000   30days      2000
1  Python  22000   35days      1200

In [18]:

import pandas as pd
df = pd.DataFrame({'Courses': ["Spark","PySpark","Python","pandas"],
                    'Fee' : [20000,25000,22000,24000]})

df1 = pd.DataFrame({'Courses': ["Pandas","Hadoop","Hyperion","Java"],
                    'Fee': [25000,25200,24500,24900]})
print("First DataFrame:\n", df)
print("SEcond DataFrame:\n", df1)

First DataFrame:
    Courses    Fee
0    Spark  20000
1  PySpark  25000
2   Python  22000
3   pandas  24000
SEcond DataFrame:
     Courses    Fee
0    Pandas  25000
1    Hadoop  25200
2  Hyperion  24500
3      Java  24900